extends layout
block content
  h1= title
  - let foodid = toShow._id
  - let foodbrand = toShow.food_brand
  - let foodcost = toShow.food_cost
  - let foodcolor = toShow.food_color
  div
    div.row
      div(class='foodAttr mr-3') Food ID is:
      div #{foodid}
    div.row
      div(class='foodAttr mr-3') Food Brand is:
      div #{foodbrand}
    div.row
      div(class='foodAttr mr-3') Food Color is:
      div #{foodcolor}
    div.row
      div(class='foodAttr mr-3') Food Cost is:
      div #{foodcost}